<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="novelmonkey.fiction.kindle.webnovel.wattpad.novels.ebooks.read.novelmonkey">
<!--    package="anybooks.kindle.webnovel.fiction.wattpad.novels.ebooks.read">-->


    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
